backups/
elpa/
auto-save-list/
places
bookmarks
.smex-items
url
swank/
tramp
repl-port
session.*
/tmp
*.dat
/nrepl-history
.cask/
/eshell/
/custom/
/.mc-lists.el
/%backup%~
/projectile-bookmarks.eld
/var/
/ido.last
/smex-items
/custom.el
/recentf
/cider-history
/projectile.cache
/server/
