;; -*- mode: Lisp;  -*-

;;; Host specific config

;;; Windows with cygwin config
;;; Needed by magit
(let* ((cygwin-root "C:\\PROGRAMJAVA\\tools\\.babun\\cygwin")
         (cygwin-bin (concat cygwin-root "\\bin")))
    (when (and (eq 'windows-nt system-type)
         (file-readable-p cygwin-root))

      (setq exec-path (cons cygwin-bin exec-path))
      (setenv "PATH" (concat cygwin-bin ";" (getenv "PATH")))

      ;; By default use the Windows HOME.
      ;; Otherwise, uncomment below to set a HOME
      ;;      (setenv "HOME" (concat cygwin-root "/home/eric"))

      ;; NT-emacs assumes a Windows shell. Change to bash.
      (setq shell-file-name "zsh")
      (setenv "SHELL" shell-file-name)
      (setq explicit-shell-file-name shell-file-name)

      ;; This removes unsightly ^M characters that would otherwise
      ;; appear in the output of java applications.
      (add-hook 'comint-output-filter-functions 'comint-strip-ctrl-m)))

(setq url-proxy-services
   '(("no_proxy" . "^\\(localhost\\|10.*\\|vd2302\\|192.168.99.100\\)")
          ("http" . "localhost:3128")
           ("https" . "localhost:3128")))
